In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26729 entries, 0 to 26728
Data columns (total 10 columns):
AnimalID          26729 non-null object
Name              19038 non-null object
DateTime          26729 non-null object
OutcomeType       26729 non-null object
OutcomeSubtype    13117 non-null object
AnimalType        26729 non-null object
SexuponOutcome    26728 non-null object
AgeuponOutcome    26711 non-null object
Breed             26729 non-null object
Color             26729 non-null object
dtypes: object(10)
memory usage: 2.0+ MB

In [4]:
# ID seems unique
df.AnimalID.nunique()

26729

In [6]:
# missing a lot of names
df.Name.isnull().sum()

7691

In [79]:
# this works too lol
check = df.columns[df.isnull().any()]
check

Index(['Name', 'OutcomeSubtype', 'SexuponOutcome', 'AgeuponOutcome'], dtype='object')

In [109]:
def report_col_with_null(df):
    need_attention_col = []
    num_null = []
    
    #null_pd = pd.DataFrame()
    for c in df.columns.tolist():
        print(c)
        print('------------------------------------------------------------')
        print('Number of nulls in', c,'is: {}'.format(df[c].isnull().sum()))
        print('------------------------------------------------------------')
        print('Number of unique items: {}'.format(df[c].value_counts(ascending = False)))
        print('------------------------------------------------------------')
        if df[c].isnull().sum() != 0:
            need_attention_col.append(c)
            num_null.append(df[c].isnull().sum())
            
        else:
            print('good to go!')
        #simple_list = [need_attention_col]
        #simple_list.append(num_null)
        #null_pd = pd.DataFrame(simple_list)
        
        null_pd = pd.DataFrame(need_attention_col).T
        null_pd = pd.concat([null_pd, (pd.DataFrame(num_null).T)])
        
        
        #row=pd.Series(need_attention_col,num_null)
        #null_pd.append([row],ignore_index=True)
        #null_pd = pd.DataFrame(need_attention_col).T
        #null_pd['number_of_nulls'] = num_null.T
        #null_pd.append(num_null,ignore_index=True)
    return null_pd
#null_pd

In [110]:
report_col_with_null(df)

AnimalID
------------------------------------------------------------
Number of nulls in AnimalID is: 0
------------------------------------------------------------
Number of unique items: A688261    1
A667095    1
A656767    1
A667545    1
A671099    1
A716170    1
A715702    1
A693166    1
A701478    1
A703958    1
A715051    1
A706419    1
A714050    1
A675523    1
A669135    1
A719100    1
A698796    1
A683529    1
A696754    1
A673247    1
A717943    1
A679322    1
A673052    1
A711217    1
A664299    1
A696500    1
A681905    1
A717448    1
A665927    1
A671263    1
          ..
A679351    1
A679158    1
A706527    1
A491814    1
A718439    1
A672251    1
A691873    1
A706257    1
A715025    1
A700669    1
A474311    1
A671066    1
A613280    1
A694496    1
A646917    1
A715715    1
A674577    1
A671045    1
A685617    1
A694072    1
A686882    1
A664049    1
A677556    1
A708080    1
A686672    1
A707639    1
A704238    1
A697531    1
A707880    1
A703261    1
Name: AnimalID, Length: 26729, dtype: int64
------------------------------------------------------------
good to go!
Name
------------------------------------------------------------
Number of nulls in Name is: 7691
------------------------------------------------------------
Number of unique items: Max             136
Bella           135
Charlie         107
Daisy           106
Lucy             94
Buddy            87
Princess         86
Rocky            85
Luna             68
Jack             66
Lola             61
Sadie            58
Shadow           57
Molly            57
Coco             55
Maggie           55
Chico            54
Lily             53
Oreo             53
Blue             52
Lucky            51
Toby             50
Ginger           48
Cookie           48
Lady             47
Sam              46
Duke             45
Milo             44
Sophie           44
Oliver           44
               ...
Tukufu            1
Kinley            1
Houdini           1
Luca Lopez        1
Lollipop          1
Chuyee            1
Emmylou           1
Dezi              1
Xarren            1
Beasley           1
Baby Cat          1
Abbadon           1
Arlow             1
Pugsley           1
Oreto             1
Tofurkey          1
Liffy             1
Starbucks         1
Chiky             1
Mr.Whiskers       1
Bond              1
Landry            1
Cinnimon          1
Avalanche         1
Quebee            1
Randalls Cub      1
Lars              1
Lulis             1
Johnnie           1
Buckley           1
Name: Name, Length: 6374, dtype: int64
------------------------------------------------------------
DateTime
------------------------------------------------------------
Number of nulls in DateTime is: 0
------------------------------------------------------------
Number of unique items: 2015-08-11 00:00:00    19
2015-11-17 00:00:00    17
2015-07-02 00:00:00    13
2015-04-02 00:00:00    11
2014-08-31 09:00:00    10
2015-11-23 00:00:00     9
2015-09-11 00:00:00     9
2014-08-26 09:00:00     9
2016-02-15 00:00:00     9
2015-06-19 00:00:00     8
2015-07-26 09:00:00     8
2015-09-01 00:00:00     8
2014-09-06 09:00:00     8
2014-08-17 09:00:00     8
2014-07-16 09:00:00     8
2015-08-03 00:00:00     8
2015-11-08 00:00:00     8
2014-06-21 09:00:00     8
2016-02-07 00:00:00     7
2015-11-30 00:00:00     7
2014-05-03 16:15:00     7
2015-04-25 09:00:00     7
2015-11-05 00:00:00     7
2014-10-20 09:00:00     7
2015-08-02 09:00:00     7
2014-08-16 09:00:00     7
2015-05-31 00:00:00     7
2014-12-27 11:09:00     7
2015-04-20 14:08:00     7
2015-07-03 09:00:00     7
                       ..
2015-01-16 18:19:00     1
2015-06-22 17:02:00     1
2014-07-04 09:42:00     1
2015-05-24 18:12:00     1
2014-03-19 11:39:00     1
2015-02-22 16:58:00     1
2013-12-13 11:40:00     1
2015-06-29 14:11:00     1
2015-10-07 14:22:00     1
2015-04-14 18:37:00     1
2015-07-02 13:53:00     1
2014-11-24 17:00:00     1
2015-10-29 13:01:00     1
2015-10-22 11:57:00     1
2014-02-19 10:53:00     1
2014-12-20 17:07:00     1
2014-10-11 11:21:00     1
2014-09-21 14:15:00     1
2013-12-30 16:39:00     1
2014-08-08 09:00:00     1
2015-05-27 08:21:00     1
2014-04-06 18:48:00     1
2015-09-30 18:18:00     1
2014-10-25 12:47:00     1
2015-09-06 16:20:00     1
2014-09-06 12:08:00     1
2015-12-04 12:57:00     1
2015-08-16 18:43:00     1
2015-01-12 13:39:00     1
2013-12-29 13:14:00     1
Name: DateTime, Length: 22918, dtype: int64
------------------------------------------------------------
good to go!
OutcomeType
------------------------------------------------------------
Number of nulls in OutcomeType is: 0
------------------------------------------------------------
Number of unique items: Adoption           10769
Transfer            9422
Return_to_owner     4786
Euthanasia          1555
Died                 197
Name: OutcomeType, dtype: int64
------------------------------------------------------------
good to go!
OutcomeSubtype
------------------------------------------------------------
Number of nulls in OutcomeSubtype is: 13612
------------------------------------------------------------
Number of unique items: Partner                7816
Foster                 1800
SCRP                   1599
Suffering              1002
Aggressive              320
Offsite                 165
In Kennel               114
Behavior                 86
Rabies Risk              74
Medical                  66
In Foster                52
Enroute                   8
Court/Investigation       6
At Vet                    4
In Surgery                3
Barn                      2
Name: OutcomeSubtype, dtype: int64
------------------------------------------------------------
AnimalType
------------------------------------------------------------
Number of nulls in AnimalType is: 0
------------------------------------------------------------
Number of unique items: Dog    15595
Cat    11134
Name: AnimalType, dtype: int64
------------------------------------------------------------
good to go!
SexuponOutcome
------------------------------------------------------------
Number of nulls in SexuponOutcome is: 1
------------------------------------------------------------
Number of unique items: Neutered Male    9779
Spayed Female    8820
Intact Male      3525
Intact Female    3511
Unknown          1093
Name: SexuponOutcome, dtype: int64
------------------------------------------------------------
AgeuponOutcome
------------------------------------------------------------
Number of nulls in AgeuponOutcome is: 18
------------------------------------------------------------
Number of unique items: 1 year       3969
2 years      3742
2 months     3397
3 years      1823
1 month      1281
3 months     1277
4 years      1071
5 years       992
4 months      888
6 years       670
3 weeks       659
5 months      652
6 months      588
8 years       536
7 years       531
2 weeks       529
10 months     457
10 years      446
8 months      402
4 weeks       334
9 years       288
7 months      288
12 years      234
9 months      224
1 weeks       171
11 months     166
1 week        146
13 years      143
11 years      126
3 days        109
2 days         99
14 years       97
15 years       85
1 day          66
6 days         50
4 days         50
16 years       36
5 days         24
0 years        22
17 years       17
5 weeks        11
18 years       10
19 years        3
20 years        2
Name: AgeuponOutcome, dtype: int64
------------------------------------------------------------
Breed
------------------------------------------------------------
Number of nulls in Breed is: 0
------------------------------------------------------------
Number of unique items: Domestic Shorthair Mix                       8810
Pit Bull Mix                                 1906
Chihuahua Shorthair Mix                      1766
Labrador Retriever Mix                       1363
Domestic Medium Hair Mix                      839
German Shepherd Mix                           575
Domestic Longhair Mix                         520
Siamese Mix                                   389
Australian Cattle Dog Mix                     367
Dachshund Mix                                 318
Boxer Mix                                     245
Miniature Poodle Mix                          233
Border Collie Mix                             229
Australian Shepherd Mix                       163
Rat Terrier Mix                               157
Catahoula Mix                                 157
Jack Russell Terrier Mix                      146
Yorkshire Terrier Mix                         143
Domestic Shorthair                            143
Chihuahua Longhair Mix                        142
Siberian Husky Mix                            138
Miniature Schnauzer Mix                       136
Beagle Mix                                    124
Rottweiler Mix                                113
American Bulldog Mix                          109
Cairn Terrier Mix                             102
Shih Tzu Mix                                  100
Chihuahua Shorthair/Dachshund                  98
Australian Kelpie Mix                          95
Staffordshire Mix                              94
                                             ...
Black/Tan Hound/Labrador Retriever              1
Shih Tzu/Cardigan Welsh Corgi                   1
St. Bernard Rough Coat/Labrador Retriever       1
Ibizan Hound/Pit Bull                           1
Queensland Heeler/Dachshund                     1
Chihuahua Shorthair/Boxer                       1
Australian Cattle Dog/Golden Retriever          1
Welsh Springer Spaniel Mix                      1
Miniature Pinscher/Maltese                      1
Burmese                                         1
Shiba Inu/Dachshund                             1
Canaan Dog/Pit Bull                             1
Chesa Bay Retr                                  1
Silky Terrier/Yorkshire Terrier                 1
Queensland Heeler/Border Collie                 1
Miniature Poodle/Shih Tzu                       1
Mastiff/Labrador Retriever                      1
Dalmatian/Labrador Retriever                    1
Standard Schnauzer/Border Terrier               1
Australian Cattle Dog/Collie Smooth             1
Pembroke Welsh Corgi/Golden Retriever           1
Lowchen Mix                                     1
Border Terrier/West Highland                    1
Beagle/Jack Russell Terrier                     1
Pointer/Anatol Shepherd                         1
Yorkshire Terrier/Parson Russell Terrier        1
Cardigan Welsh Corgi/Rat Terrier                1
German Shepherd/Greyhound                       1
Cardigan Welsh Corgi/Jack Russell Terrier       1
Shetland Sheepdog/Border Collie                 1
Name: Breed, Length: 1380, dtype: int64
------------------------------------------------------------
good to go!
Color
------------------------------------------------------------
Number of nulls in Color is: 0
------------------------------------------------------------
Number of unique items: Black/White                  2824
Black                        2292
Brown Tabby                  1635
Brown Tabby/White             940
White                         931
Brown/White                   884
Orange Tabby                  841
Tan/White                     773
Tricolor                      752
Blue/White                    702
Black/Tan                     672
White/Black                   643
Brown                         639
Tan                           628
White/Brown                   569
Tortie                        530
Calico                        517
Orange Tabby/White            455
Brown Brindle/White           450
Blue                          450
Black/Brown                   436
Blue Tabby                    433
White/Tan                     389
Red                           337
Torbie                        335
Brown/Black                   333
Red/White                     331
Blue Tabby/White              241
Brown Brindle                 232
Chocolate/White               224
                             ...
Tricolor/Calico                 1
Orange/Tan                      1
Lynx Point/Brown Tabby          1
Cream/Seal Point                1
Calico/Blue Cream               1
Tan/Apricot                     1
Blue/Brown                      1
Tricolor/Blue Merle             1
Brown/Blue Smoke                1
Black/Yellow                    1
Silver Tabby/Black              1
Blue/Yellow Brindle             1
Brown Merle/Tan                 1
Tan/Brown Merle                 1
Sable/Buff                      1
Blue/Orange                     1
Torbie/Blue Cream               1
Blue Cream/Buff                 1
Blue Merle/Red Merle            1
Yellow Brindle/Tan              1
Yellow Brindle/Blue             1
Red Tick/Blue Tick              1
Orange Tabby/Orange             1
Gold/Yellow                     1
Yellow/Black                    1
Fawn/Brown                      1
Blue Tick/Brown Brindle         1
Brown Brindle/Brown Merle       1
Blue Cream/Blue Tiger           1
Brown Brindle/Blue Tick         1
Name: Color, Length: 366, dtype: int64
------------------------------------------------------------
good to go!

      0               1               2               3
0  Name  OutcomeSubtype  SexuponOutcome  AgeuponOutcome
0  7691           13612               1              18

In [104]:
null_pd = pd.DataFrame(need_attention_col).T
null_pd = pd.concat([null_pd, (pd.DataFrame(num_null).T)])

NameError: name 'num_null' is not defined

In [83]:
need_attention_col = report_col_with_null(df)

AnimalID
------------------------------------------------------------
Number of nulls in AnimalID is: 0
------------------------------------------------------------
Number of unique items: A688261    1
A667095    1
A656767    1
A667545    1
A671099    1
A716170    1
A715702    1
A693166    1
A701478    1
A703958    1
A715051    1
A706419    1
A714050    1
A675523    1
A669135    1
A719100    1
A698796    1
A683529    1
A696754    1
A673247    1
A717943    1
A679322    1
A673052    1
A711217    1
A664299    1
A696500    1
A681905    1
A717448    1
A665927    1
A671263    1
          ..
A679351    1
A679158    1
A706527    1
A491814    1
A718439    1
A672251    1
A691873    1
A706257    1
A715025    1
A700669    1
A474311    1
A671066    1
A613280    1
A694496    1
A646917    1
A715715    1
A674577    1
A671045    1
A685617    1
A694072    1
A686882    1
A664049    1
A677556    1
A708080    1
A686672    1
A707639    1
A704238    1
A697531    1
A707880    1
A703261    1
Name: AnimalID, Length: 26729, dtype: int64
------------------------------------------------------------
good to go!
Name
------------------------------------------------------------
Number of nulls in Name is: 7691
------------------------------------------------------------
Number of unique items: Max             136
Bella           135
Charlie         107
Daisy           106
Lucy             94
Buddy            87
Princess         86
Rocky            85
Luna             68
Jack             66
Lola             61
Sadie            58
Shadow           57
Molly            57
Coco             55
Maggie           55
Chico            54
Lily             53
Oreo             53
Blue             52
Lucky            51
Toby             50
Ginger           48
Cookie           48
Lady             47
Sam              46
Duke             45
Milo             44
Sophie           44
Oliver           44
               ...
Tukufu            1
Kinley            1
Houdini           1
Luca Lopez        1
Lollipop          1
Chuyee            1
Emmylou           1
Dezi              1
Xarren            1
Beasley           1
Baby Cat          1
Abbadon           1
Arlow             1
Pugsley           1
Oreto             1
Tofurkey          1
Liffy             1
Starbucks         1
Chiky             1
Mr.Whiskers       1
Bond              1
Landry            1
Cinnimon          1
Avalanche         1
Quebee            1
Randalls Cub      1
Lars              1
Lulis             1
Johnnie           1
Buckley           1
Name: Name, Length: 6374, dtype: int64
------------------------------------------------------------
DateTime
------------------------------------------------------------
Number of nulls in DateTime is: 0
------------------------------------------------------------
Number of unique items: 2015-08-11 00:00:00    19
2015-11-17 00:00:00    17
2015-07-02 00:00:00    13
2015-04-02 00:00:00    11
2014-08-31 09:00:00    10
2015-11-23 00:00:00     9
2015-09-11 00:00:00     9
2014-08-26 09:00:00     9
2016-02-15 00:00:00     9
2015-06-19 00:00:00     8
2015-07-26 09:00:00     8
2015-09-01 00:00:00     8
2014-09-06 09:00:00     8
2014-08-17 09:00:00     8
2014-07-16 09:00:00     8
2015-08-03 00:00:00     8
2015-11-08 00:00:00     8
2014-06-21 09:00:00     8
2016-02-07 00:00:00     7
2015-11-30 00:00:00     7
2014-05-03 16:15:00     7
2015-04-25 09:00:00     7
2015-11-05 00:00:00     7
2014-10-20 09:00:00     7
2015-08-02 09:00:00     7
2014-08-16 09:00:00     7
2015-05-31 00:00:00     7
2014-12-27 11:09:00     7
2015-04-20 14:08:00     7
2015-07-03 09:00:00     7
                       ..
2015-01-16 18:19:00     1
2015-06-22 17:02:00     1
2014-07-04 09:42:00     1
2015-05-24 18:12:00     1
2014-03-19 11:39:00     1
2015-02-22 16:58:00     1
2013-12-13 11:40:00     1
2015-06-29 14:11:00     1
2015-10-07 14:22:00     1
2015-04-14 18:37:00     1
2015-07-02 13:53:00     1
2014-11-24 17:00:00     1
2015-10-29 13:01:00     1
2015-10-22 11:57:00     1
2014-02-19 10:53:00     1
2014-12-20 17:07:00     1
2014-10-11 11:21:00     1
2014-09-21 14:15:00     1
2013-12-30 16:39:00     1
2014-08-08 09:00:00     1
2015-05-27 08:21:00     1
2014-04-06 18:48:00     1
2015-09-30 18:18:00     1
2014-10-25 12:47:00     1
2015-09-06 16:20:00     1
2014-09-06 12:08:00     1
2015-12-04 12:57:00     1
2015-08-16 18:43:00     1
2015-01-12 13:39:00     1
2013-12-29 13:14:00     1
Name: DateTime, Length: 22918, dtype: int64
------------------------------------------------------------
good to go!
OutcomeType
------------------------------------------------------------
Number of nulls in OutcomeType is: 0
------------------------------------------------------------
Number of unique items: Adoption           10769
Transfer            9422
Return_to_owner     4786
Euthanasia          1555
Died                 197
Name: OutcomeType, dtype: int64
------------------------------------------------------------
good to go!
OutcomeSubtype
------------------------------------------------------------
Number of nulls in OutcomeSubtype is: 13612
------------------------------------------------------------
Number of unique items: Partner                7816
Foster                 1800
SCRP                   1599
Suffering              1002
Aggressive              320
Offsite                 165
In Kennel               114
Behavior                 86
Rabies Risk              74
Medical                  66
In Foster                52
Enroute                   8
Court/Investigation       6
At Vet                    4
In Surgery                3
Barn                      2
Name: OutcomeSubtype, dtype: int64
------------------------------------------------------------
AnimalType
------------------------------------------------------------
Number of nulls in AnimalType is: 0
------------------------------------------------------------
Number of unique items: Dog    15595
Cat    11134
Name: AnimalType, dtype: int64
------------------------------------------------------------
good to go!
SexuponOutcome
------------------------------------------------------------
Number of nulls in SexuponOutcome is: 1
------------------------------------------------------------
Number of unique items: Neutered Male    9779
Spayed Female    8820
Intact Male      3525
Intact Female    3511
Unknown          1093
Name: SexuponOutcome, dtype: int64
------------------------------------------------------------
AgeuponOutcome
------------------------------------------------------------
Number of nulls in AgeuponOutcome is: 18
------------------------------------------------------------
Number of unique items: 1 year       3969
2 years      3742
2 months     3397
3 years      1823
1 month      1281
3 months     1277
4 years      1071
5 years       992
4 months      888
6 years       670
3 weeks       659
5 months      652
6 months      588
8 years       536
7 years       531
2 weeks       529
10 months     457
10 years      446
8 months      402
4 weeks       334
9 years       288
7 months      288
12 years      234
9 months      224
1 weeks       171
11 months     166
1 week        146
13 years      143
11 years      126
3 days        109
2 days         99
14 years       97
15 years       85
1 day          66
6 days         50
4 days         50
16 years       36
5 days         24
0 years        22
17 years       17
5 weeks        11
18 years       10
19 years        3
20 years        2
Name: AgeuponOutcome, dtype: int64
------------------------------------------------------------
Breed
------------------------------------------------------------
Number of nulls in Breed is: 0
------------------------------------------------------------
Number of unique items: Domestic Shorthair Mix                       8810
Pit Bull Mix                                 1906
Chihuahua Shorthair Mix                      1766
Labrador Retriever Mix                       1363
Domestic Medium Hair Mix                      839
German Shepherd Mix                           575
Domestic Longhair Mix                         520
Siamese Mix                                   389
Australian Cattle Dog Mix                     367
Dachshund Mix                                 318
Boxer Mix                                     245
Miniature Poodle Mix                          233
Border Collie Mix                             229
Australian Shepherd Mix                       163
Rat Terrier Mix                               157
Catahoula Mix                                 157
Jack Russell Terrier Mix                      146
Yorkshire Terrier Mix                         143
Domestic Shorthair                            143
Chihuahua Longhair Mix                        142
Siberian Husky Mix                            138
Miniature Schnauzer Mix                       136
Beagle Mix                                    124
Rottweiler Mix                                113
American Bulldog Mix                          109
Cairn Terrier Mix                             102
Shih Tzu Mix                                  100
Chihuahua Shorthair/Dachshund                  98
Australian Kelpie Mix                          95
Staffordshire Mix                              94
                                             ...
Black/Tan Hound/Labrador Retriever              1
Shih Tzu/Cardigan Welsh Corgi                   1
St. Bernard Rough Coat/Labrador Retriever       1
Ibizan Hound/Pit Bull                           1
Queensland Heeler/Dachshund                     1
Chihuahua Shorthair/Boxer                       1
Australian Cattle Dog/Golden Retriever          1
Welsh Springer Spaniel Mix                      1
Miniature Pinscher/Maltese                      1
Burmese                                         1
Shiba Inu/Dachshund                             1
Canaan Dog/Pit Bull                             1
Chesa Bay Retr                                  1
Silky Terrier/Yorkshire Terrier                 1
Queensland Heeler/Border Collie                 1
Miniature Poodle/Shih Tzu                       1
Mastiff/Labrador Retriever                      1
Dalmatian/Labrador Retriever                    1
Standard Schnauzer/Border Terrier               1
Australian Cattle Dog/Collie Smooth             1
Pembroke Welsh Corgi/Golden Retriever           1
Lowchen Mix                                     1
Border Terrier/West Highland                    1
Beagle/Jack Russell Terrier                     1
Pointer/Anatol Shepherd                         1
Yorkshire Terrier/Parson Russell Terrier        1
Cardigan Welsh Corgi/Rat Terrier                1
German Shepherd/Greyhound                       1
Cardigan Welsh Corgi/Jack Russell Terrier       1
Shetland Sheepdog/Border Collie                 1
Name: Breed, Length: 1380, dtype: int64
------------------------------------------------------------
good to go!
Color
------------------------------------------------------------
Number of nulls in Color is: 0
------------------------------------------------------------
Number of unique items: Black/White                  2824
Black                        2292
Brown Tabby                  1635
Brown Tabby/White             940
White                         931
Brown/White                   884
Orange Tabby                  841
Tan/White                     773
Tricolor                      752
Blue/White                    702
Black/Tan                     672
White/Black                   643
Brown                         639
Tan                           628
White/Brown                   569
Tortie                        530
Calico                        517
Orange Tabby/White            455
Brown Brindle/White           450
Blue                          450
Black/Brown                   436
Blue Tabby                    433
White/Tan                     389
Red                           337
Torbie                        335
Brown/Black                   333
Red/White                     331
Blue Tabby/White              241
Brown Brindle                 232
Chocolate/White               224
                             ...
Tricolor/Calico                 1
Orange/Tan                      1
Lynx Point/Brown Tabby          1
Cream/Seal Point                1
Calico/Blue Cream               1
Tan/Apricot                     1
Blue/Brown                      1
Tricolor/Blue Merle             1
Brown/Blue Smoke                1
Black/Yellow                    1
Silver Tabby/Black              1
Blue/Yellow Brindle             1
Brown Merle/Tan                 1
Tan/Brown Merle                 1
Sable/Buff                      1
Blue/Orange                     1
Torbie/Blue Cream               1
Blue Cream/Buff                 1
Blue Merle/Red Merle            1
Yellow Brindle/Tan              1
Yellow Brindle/Blue             1
Red Tick/Blue Tick              1
Orange Tabby/Orange             1
Gold/Yellow                     1
Yellow/Black                    1
Fawn/Brown                      1
Blue Tick/Brown Brindle         1
Brown Brindle/Brown Merle       1
Blue Cream/Blue Tiger           1
Brown Brindle/Blue Tick         1
Name: Color, Length: 366, dtype: int64
------------------------------------------------------------
good to go!

In [50]:
need_attention_col

['Name', 'OutcomeSubtype', 'SexuponOutcome', 'AgeuponOutcome']

In [68]:
tl = [' ', 1,2,3]
t2 = [1,2,3,4]
testt = pd.DataFrame()
testt['t1'] = tl
testt['te'] = t2

In [69]:
testt

  t1  te
0      1
1  1   2
2  2   3
3  3   4

In [76]:
testt.t1.value_counts(ascending = True)

1    1
     1
2    1
3    1
Name: t1, dtype: int64

In [82]:
df.replace(r'^\s*$', np.nan, regex = True, inplace = True)