In [14]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import prepare

# Data Acquisition

In [6]:
df_19 = pd.read_csv('Austin_Animal_Center_Outcomes.csv')
df_19.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A720371,Moose,02/13/2016 05:59:00 PM,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
1,A674754,NaN,03/18/2014 11:47:00 AM,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby
2,A689724,*Donatello,10/18/2014 06:52:00 PM,10/18/2014 06:52:00 PM,08/01/2014,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black
3,A680969,*Zeus,08/05/2014 04:59:00 PM,08/05/2014 04:59:00 PM,06/03/2014,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,White/Orange Tabby
4,A684617,NaN,07/27/2014 09:00:00 AM,07/27/2014 09:00:00 AM,07/26/2012,Transfer,SCRP,Cat,Intact Female,2 years,Domestic Shorthair Mix,Black

In [13]:
df_19[df_19.DateTime == df_19.MonthYear].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111753 entries, 0 to 111752
Data columns (total 12 columns):
Animal ID           111753 non-null object
Name                76509 non-null object
DateTime            111753 non-null object
MonthYear           111753 non-null object
Date of Birth       111753 non-null object
Outcome Type        111745 non-null object
Outcome Subtype     50875 non-null object
Animal Type         111753 non-null object
Sex upon Outcome    111749 non-null object
Age upon Outcome    111717 non-null object
Breed               111753 non-null object
Color               111753 non-null object
dtypes: object(12)
memory usage: 11.1+ MB

In [17]:
df_19['Animal Type'].value_counts()

Dog          63223
Cat          42230
Other         5767
Bird           516
Livestock       17
Name: Animal Type, dtype: int64

In [7]:
df_19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111753 entries, 0 to 111752
Data columns (total 12 columns):
Animal ID           111753 non-null object
Name                76509 non-null object
DateTime            111753 non-null object
MonthYear           111753 non-null object
Date of Birth       111753 non-null object
Outcome Type        111745 non-null object
Outcome Subtype     50875 non-null object
Animal Type         111753 non-null object
Sex upon Outcome    111749 non-null object
Age upon Outcome    111717 non-null object
Breed               111753 non-null object
Color               111753 non-null object
dtypes: object(12)
memory usage: 10.2+ MB

In [15]:
prepare.report_col_with_null(df_19)

Animal ID
------------------------------------------------------------
Number of nulls in Animal ID is: 0
------------------------------------------------------------
Number of unique items: A721033    33
A718223    14
A718877    12
A706536    11
A716018     9
A717053     9
A705625     8
A738324     8
A738073     8
A670612     8
A754989     8
A694501     8
A616444     8
A733594     8
A761266     8
A693283     8
A763125     7
A737833     7
A665334     7
A662586     7
A701265     7
A774102     7
A667894     7
A761751     7
A770009     7
A593537     7
A742421     7
A658733     7
A737854     7
A683108     7
           ..
A772539     1
A688415     1
A792992     1
A792445     1
A715661     1
A766638     1
A733520     1
A758415     1
A672905     1
A683694     1
A797539     1
A679579     1
A720070     1
A779546     1
A697183     1
A668019     1
A731948     1
A748685     1
A802403     1
A722973     1
A693362     1
A724829     1
A788913     1
A723724     1
A753355     1
A739942     1
A737231     1
A769318     1
A803098     1
A783827     1
Name: Animal ID, Length: 100119, dtype: int64
------------------------------------------------------------
good to go!
Name
------------------------------------------------------------
Number of nulls in Name is: 35244
------------------------------------------------------------
Number of unique items: Max                 498
Bella               471
Luna                424
Daisy               331
Rocky               329
Princess            314
Coco                294
Charlie             293
Buddy               286
Lucy                285
Blue                276
Lola                251
Zeus                201
Jack                192
Bear                188
Lucky               184
Shadow              180
Cookie              180
Oreo                179
Sadie               179
Chico               174
Duke                170
Molly               159
Toby                158
Chloe               155
Lily                155
Milo                149
Marley              148
King                143
Nala                140
                   ...
Phoeby                1
*Welby                1
Cabel                 1
Lasienaga             1
*Veil                 1
Suge                  1
Korzo                 1
*Phoebes              1
Riskybiscuit          1
*Torrbjorn            1
Ezzie                 1
*Nelda                1
Cooper Elliot         1
*Waffle S.            1
*Paws                 1
Constance             1
*Snowbelle            1
Jane Way              1
C.J.                  1
*Biggle               1
*Cheeser              1
*Quimby               1
Rachale               1
Stitcher              1
Mcdermot              1
Maggie Elizabeth      1
*Bows                 1
Jungle                1
*Yulio                1
Anemona               1
Name: Name, Length: 18198, dtype: int64
------------------------------------------------------------
DateTime
------------------------------------------------------------
Number of nulls in DateTime is: 0
------------------------------------------------------------
Number of unique items: 04/18/2016 12:00:00 AM    39
08/11/2015 12:00:00 AM    25
10/17/2017 12:00:00 AM    25
07/02/2015 12:00:00 AM    22
11/17/2015 12:00:00 AM    22
06/27/2019 12:00:00 AM    22
04/26/2019 12:00:00 AM    21
10/20/2014 09:00:00 AM    16
08/17/2016 12:00:00 AM    16
06/27/2016 12:00:00 AM    15
08/16/2017 12:00:00 AM    15
07/03/2017 03:05:00 PM    15
10/29/2016 09:00:00 AM    15
09/26/2016 12:00:00 AM    15
05/10/2017 12:00:00 AM    14
04/02/2015 12:00:00 AM    14
09/13/2016 12:00:00 AM    14
02/15/2016 12:00:00 AM    14
08/25/2016 12:00:00 AM    14
07/16/2014 09:00:00 AM    14
06/01/2017 12:00:00 AM    14
07/11/2018 12:00:00 AM    13
03/28/2017 12:00:00 AM    13
01/24/2018 12:00:00 AM    13
06/24/2016 03:24:00 PM    13
10/31/2016 12:00:00 AM    13
08/31/2014 09:00:00 AM    13
09/23/2014 09:00:00 AM    12
01/25/2016 12:00:00 AM    12
08/17/2014 09:00:00 AM    12
                          ..
10/20/2018 04:29:00 PM     1
11/12/2018 03:49:00 PM     1
10/31/2014 06:44:00 PM     1
02/04/2018 01:02:00 PM     1
11/05/2019 07:12:00 AM     1
03/15/2016 05:02:00 PM     1
09/07/2018 12:28:00 PM     1
04/07/2015 03:30:00 PM     1
05/25/2015 03:12:00 PM     1
11/26/2017 02:14:00 PM     1
10/08/2015 07:56:00 AM     1
07/05/2016 04:54:00 PM     1
12/12/2017 02:03:00 PM     1
06/06/2016 01:41:00 PM     1
11/11/2016 11:58:00 AM     1
11/26/2016 02:25:00 PM     1
04/27/2017 05:26:00 PM     1
11/19/2016 12:16:00 PM     1
03/09/2014 06:15:00 PM     1
12/31/2016 12:32:00 PM     1
09/02/2019 02:37:00 PM     1
05/10/2016 04:27:00 PM     1
10/11/2019 06:05:00 PM     1
03/03/2015 03:16:00 PM     1
06/08/2019 02:39:00 PM     1
12/11/2014 05:17:00 PM     1
02/10/2019 05:03:00 PM     1
09/08/2017 12:00:00 AM     1
08/15/2017 05:41:00 PM     1
04/25/2019 06:55:00 PM     1
Name: DateTime, Length: 91890, dtype: int64
------------------------------------------------------------
good to go!
MonthYear
------------------------------------------------------------
Number of nulls in MonthYear is: 0
------------------------------------------------------------
Number of unique items: 04/18/2016 12:00:00 AM    39
08/11/2015 12:00:00 AM    25
10/17/2017 12:00:00 AM    25
07/02/2015 12:00:00 AM    22
11/17/2015 12:00:00 AM    22
06/27/2019 12:00:00 AM    22
04/26/2019 12:00:00 AM    21
10/20/2014 09:00:00 AM    16
08/17/2016 12:00:00 AM    16
06/27/2016 12:00:00 AM    15
08/16/2017 12:00:00 AM    15
07/03/2017 03:05:00 PM    15
10/29/2016 09:00:00 AM    15
09/26/2016 12:00:00 AM    15
05/10/2017 12:00:00 AM    14
04/02/2015 12:00:00 AM    14
09/13/2016 12:00:00 AM    14
02/15/2016 12:00:00 AM    14
08/25/2016 12:00:00 AM    14
07/16/2014 09:00:00 AM    14
06/01/2017 12:00:00 AM    14
07/11/2018 12:00:00 AM    13
03/28/2017 12:00:00 AM    13
01/24/2018 12:00:00 AM    13
06/24/2016 03:24:00 PM    13
10/31/2016 12:00:00 AM    13
08/31/2014 09:00:00 AM    13
09/23/2014 09:00:00 AM    12
01/25/2016 12:00:00 AM    12
08/17/2014 09:00:00 AM    12
                          ..
10/20/2018 04:29:00 PM     1
11/12/2018 03:49:00 PM     1
10/31/2014 06:44:00 PM     1
02/04/2018 01:02:00 PM     1
11/05/2019 07:12:00 AM     1
03/15/2016 05:02:00 PM     1
09/07/2018 12:28:00 PM     1
04/07/2015 03:30:00 PM     1
05/25/2015 03:12:00 PM     1
11/26/2017 02:14:00 PM     1
10/08/2015 07:56:00 AM     1
07/05/2016 04:54:00 PM     1
12/12/2017 02:03:00 PM     1
06/06/2016 01:41:00 PM     1
11/11/2016 11:58:00 AM     1
11/26/2016 02:25:00 PM     1
04/27/2017 05:26:00 PM     1
11/19/2016 12:16:00 PM     1
03/09/2014 06:15:00 PM     1
12/31/2016 12:32:00 PM     1
09/02/2019 02:37:00 PM     1
05/10/2016 04:27:00 PM     1
10/11/2019 06:05:00 PM     1
03/03/2015 03:16:00 PM     1
06/08/2019 02:39:00 PM     1
12/11/2014 05:17:00 PM     1
02/10/2019 05:03:00 PM     1
09/08/2017 12:00:00 AM     1
08/15/2017 05:41:00 PM     1
04/25/2019 06:55:00 PM     1
Name: MonthYear, Length: 91890, dtype: int64
------------------------------------------------------------
good to go!
Date of Birth
------------------------------------------------------------
Number of nulls in Date of Birth is: 0
------------------------------------------------------------
Number of unique items: 09/01/2015    118
04/21/2014    117
05/05/2014    115
05/01/2016    113
04/28/2015    105
04/20/2015    104
04/15/2016    100
04/16/2018     96
04/27/2015     95
04/19/2015     92
04/24/2017     91
05/01/2017     90
04/10/2016     88
05/02/2014     85
02/14/2015     83
05/12/2015     82
03/02/2015     82
04/22/2015     82
05/11/2015     82
04/03/2015     81
04/22/2016     81
05/17/2015     80
04/29/2014     80
04/04/2016     80
05/08/2016     79
05/01/2019     79
04/16/2017     79
05/25/2015     78
04/26/2015     78
03/25/2014     77
             ...
04/13/2000      1
02/05/2004      1
09/03/2002      1
01/12/2007      1
01/11/1999      1
08/31/1999      1
01/10/1998      1
06/11/2004      1
05/25/1999      1
05/05/1999      1
11/25/2003      1
03/06/1995      1
01/22/2008      1
04/02/1999      1
01/05/2005      1
08/30/2004      1
03/18/2003      1
10/02/2008      1
09/16/2002      1
08/05/2005      1
04/20/2004      1
11/24/2006      1
10/20/2000      1
08/19/2004      1
09/17/2003      1
07/26/1999      1
01/21/2005      1
05/24/2001      1
11/05/2001      1
12/16/2005      1
Name: Date of Birth, Length: 6656, dtype: int64
------------------------------------------------------------
good to go!
Outcome Type
------------------------------------------------------------
Number of nulls in Outcome Type is: 8
------------------------------------------------------------
Number of unique items: Adoption           48778
Transfer           33549
Return to Owner    19753
Euthanasia          7578
Died                1040
Rto-Adopt            519
Disposal             442
Missing               66
Relocate              20
Name: Outcome Type, dtype: int64
------------------------------------------------------------

Outcome Subtype
------------------------------------------------------------
Number of nulls in Outcome Subtype is: 60878
------------------------------------------------------------
Number of unique items: Partner                28011
Foster                  8577
Rabies Risk             3240
SCRP                    3211
Suffering               2998
Snr                     2324
In Kennel                538
Aggressive               526
Offsite                  383
Medical                  300
In Foster                261
At Vet                   179
Behavior                 151
Enroute                   72
Underage                  29
Court/Investigation       23
In Surgery                22
Possible Theft            16
Field                      8
Barn                       4
Prc                        1
Customer S                 1
Name: Outcome Subtype, dtype: int64
------------------------------------------------------------
Animal Type
------------------------------------------------------------
Number of nulls in Animal Type is: 0
------------------------------------------------------------
Number of unique items: Dog          63223
Cat          42230
Other         5767
Bird           516
Livestock       17
Name: Animal Type, dtype: int64
------------------------------------------------------------
good to go!
Sex upon Outcome
------------------------------------------------------------
Number of nulls in Sex upon Outcome is: 4
------------------------------------------------------------
Number of unique items: Neutered Male    39113
Spayed Female    35238
Intact Male      14237
Intact Female    13876
Unknown           9285
Name: Sex upon Outcome, dtype: int64
------------------------------------------------------------
Age upon Outcome
------------------------------------------------------------
Number of nulls in Age upon Outcome is: 36
------------------------------------------------------------
Number of unique items: 1 year       20164
2 years      16460
2 months     13447
3 years       6797
3 months      5176
1 month       4980
4 years       4054
5 years       3735
4 months      3526
5 months      2740
6 months      2677
6 years       2482
8 years       2137
7 years       2129
3 weeks       2013
2 weeks       1907
8 months      1763
4 weeks       1711
10 years      1686
10 months     1611
7 months      1417
9 years       1164
9 months      1144
12 years       840
1 weeks        767
11 months      693
11 years       660
1 week         626
13 years       535
14 years       352
2 days         329
3 days         319
15 years       296
1 day          240
6 days         219
4 days         200
0 years        164
5 days         145
16 years       130
5 weeks        109
17 years        73
18 years        48
19 years        23
20 years        17
22 years         4
-1 years         4
25 years         1
-3 years         1
24 years         1
21 years         1
Name: Age upon Outcome, dtype: int64
------------------------------------------------------------
Breed
------------------------------------------------------------
Number of nulls in Breed is: 0
------------------------------------------------------------
Number of unique items: Domestic Shorthair Mix                               30467
Pit Bull Mix                                          8135
Labrador Retriever Mix                                6419
Chihuahua Shorthair Mix                               6064
Domestic Shorthair                                    3979
Domestic Medium Hair Mix                              3056
German Shepherd Mix                                   2796
Bat Mix                                               1746
Domestic Longhair Mix                                 1507
Australian Cattle Dog Mix                             1413
Siamese Mix                                           1237
Bat                                                   1098
Dachshund Mix                                          998
Boxer Mix                                              909
Border Collie Mix                                      892
Miniature Poodle Mix                                   836
Pit Bull                                               667
Catahoula Mix                                          636
Labrador Retriever                                     632
Australian Shepherd Mix                                628
Siberian Husky Mix                                     625
Chihuahua Shorthair                                    622
Staffordshire Mix                                      621
Rat Terrier Mix                                        606
Yorkshire Terrier Mix                                  600
German Shepherd                                        588
Beagle Mix                                             541
Raccoon Mix                                            537
Miniature Schnauzer Mix                                536
Domestic Medium Hair                                   533
                                                     ...
Australian Shepherd/Dalmatian                            1
Shiba Inu/Dachshund                                      1
Staffordshire/American Bulldog                           1
Catbird Mix                                              1
Cairn Terrier/Affenpinscher                              1
Pembroke Welsh Corgi/Pit Bull                            1
Chihuahua Longhair/Beagle                                1
Shetland Sheepdog/Pomeranian                             1
Labrador Retriever/American Staffordshire Terrier        1
Manchester Terrier/Toy Fox Terrier                       1
Feist/Chihuahua Shorthair                                1
Wire Hair Fox Terrier/Standard Schnauzer                 1
Black                                                    1
Australian Cattle Dog/Chinese Crested                    1
Collie Rough/Keeshond                                    1
Pit Bull/Cardigan Welsh Corgi                            1
Greyhound/Border Collie                                  1
Australian Kelpie/Plott Hound                            1
Whippet/German Shepherd                                  1
Pointer/Boston Terrier                                   1
Papillon/Pembroke Welsh Corgi                            1
Border Collie/Staffordshire                              1
Bruss Griffon/Affenpinscher                              1
Boxer/Jack Russell Terrier                               1
Swedish Vallhund                                         1
Landseer/Border Collie                                   1
Swiss Hound/Pit Bull                                     1
Labrador Retriever/Irish Setter                          1
Border Terrier/Miniature Schnauzer                       1
Anatol Shepherd/Belgian Malinois                         1
Name: Breed, Length: 2504, dtype: int64
------------------------------------------------------------
good to go!
Color
------------------------------------------------------------
Number of nulls in Color is: 0
------------------------------------------------------------
Number of unique items: Black/White                  11697
Black                         9426
Brown Tabby                   6367
Brown                         4756
White                         3946
Brown/White                   3582
Tan/White                     3430
Brown Tabby/White             3324
Orange Tabby                  3123
White/Black                   3060
Blue/White                    3019
Tan                           2838
Tricolor                      2606
Black/Tan                     2547
Black/Brown                   2333
White/Brown                   2175
Brown/Black                   1957
Tortie                        1956
Blue                          1941
Calico                        1938
Brown Brindle/White           1903
White/Tan                     1708
Blue Tabby                    1613
Orange Tabby/White            1534
Red                           1409
Torbie                        1241
Red/White                     1187
Tan/Black                     1015
Brown Brindle                  977
Chocolate/White                850
                             ...
Lynx Point/Cream                 1
Red Tick/Black                   1
Cream Tabby/Cream Tabby          1
Seal Point/Buff                  1
Tricolor/Calico                  1
Black Tabby/Gray Tabby           1
Tan/Yellow Brindle               1
Brown Brindle/Gray               1
Brown Brindle/Brown Merle        1
Silver/Orange                    1
Lynx Point/Tan                   1
Brown/Black Tabby                1
Lilac Point/Black                1
Liver/Brown Brindle              1
Black Smoke/Black                1
Brown Tabby/Orange Tabby         1
Blue Tabby/Orange                1
Orange Tabby/Apricot             1
White/Black Tiger                1
Tortie/Blue Tabby                1
Tortie Point/Cream               1
Brown Brindle/Blue Cream         1
Brown/Blue                       1
Lilac Point/Gray                 1
Chocolate/Liver Tick             1
Black Smoke/Brown                1
Calico/Gray Tabby                1
Red Merle/Red Merle              1
Tricolor/Red                     1
Blue Cream/Blue Tiger            1
Name: Color, Length: 580, dtype: int64
------------------------------------------------------------
good to go!

       0             1                2                 3                 4
0   Name  Outcome Type  Outcome Subtype  Sex upon Outcome  Age upon Outcome
0  35244             8            60878                 4                36

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26729 entries, 0 to 26728
Data columns (total 10 columns):
AnimalID          26729 non-null object
Name              19038 non-null object
DateTime          26729 non-null object
OutcomeType       26729 non-null object
OutcomeSubtype    13117 non-null object
AnimalType        26729 non-null object
SexuponOutcome    26728 non-null object
AgeuponOutcome    26711 non-null object
Breed             26729 non-null object
Color             26729 non-null object
dtypes: object(10)
memory usage: 2.0+ MB

In [5]:
df.AnimalType.unique()

array(['Dog', 'Cat'], dtype=object)

In [4]:
# ID seems unique
df.AnimalID.nunique()

26729

In [10]:
df.head()

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
1,A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby
2,A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White
3,A683430,NaN,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream
4,A667013,NaN,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan

**Initial thought after peek at data**
1. sep animal type
2. animals w/o names might have worse outcome
3. more adoption: neutered/ spayed ones, young, specific breed/ color

A lot of encoding?

In [5]:
# missing a lot of names
# animals without names > worse outcome?
df.Name.isnull().sum()

7691

In [6]:
# this works too lol
check = df.columns[df.isnull().any()]
check

Index(['Name', 'OutcomeSubtype', 'SexuponOutcome', 'AgeuponOutcome'], dtype='object')

In [8]:
null_pd = prepare.report_col_with_null(df)

AnimalID
------------------------------------------------------------
Number of nulls in AnimalID is: 0
------------------------------------------------------------
Number of unique items: A715005    1
A686587    1
A687473    1
A694727    1
A662735    1
A710345    1
A691646    1
A682472    1
A710577    1
A694766    1
A701338    1
A664509    1
A672286    1
A669376    1
A693120    1
A712884    1
A708640    1
A679475    1
A715273    1
A682801    1
A695169    1
A678095    1
A711613    1
A695598    1
A678461    1
A670291    1
A713610    1
A712827    1
A689294    1
A715310    1
          ..
A703926    1
A688067    1
A671669    1
A712941    1
A710843    1
A678697    1
A567323    1
A676218    1
A701522    1
A665172    1
A667150    1
A709694    1
A707783    1
A710864    1
A690459    1
A692787    1
A720498    1
A705933    1
A713155    1
A713021    1
A686141    1
A661592    1
A690173    1
A669397    1
A659414    1
A686364    1
A663901    1
A713778    1
A685120    1
A696291    1
Name: AnimalID, Length: 26729, dtype: int64
------------------------------------------------------------
good to go!
Name
------------------------------------------------------------
Number of nulls in Name is: 7691
------------------------------------------------------------
Number of unique items: Max            136
Bella          135
Charlie        107
Daisy          106
Lucy            94
Buddy           87
Princess        86
Rocky           85
Luna            68
Jack            66
Lola            61
Sadie           58
Shadow          57
Molly           57
Maggie          55
Coco            55
Chico           54
Oreo            53
Lily            53
Blue            52
Lucky           51
Toby            50
Cookie          48
Ginger          48
Lady            47
Sam             46
Duke            45
Sophie          44
Milo            44
Oliver          44
              ...
Judith           1
Maxy             1
Harrah           1
Schultz          1
Sirka            1
Bellona          1
Kizzy            1
Zena Susi        1
Ashara           1
Donatello        1
Martini          1
Chowda           1
Blue Grit        1
Carrot Cake      1
Navarro          1
Cynda            1
Nd               1
Whisper          1
Horatio          1
Jennie           1
Sheriff          1
Fuego            1
Baby Cow         1
Pookie Bear      1
Lily Pad         1
Kuppuru          1
Tabo             1
Santino          1
Nookie           1
Muffins          1
Name: Name, Length: 6374, dtype: int64
------------------------------------------------------------
DateTime
------------------------------------------------------------
Number of nulls in DateTime is: 0
------------------------------------------------------------
Number of unique items: 2015-08-11 00:00:00    19
2015-11-17 00:00:00    17
2015-07-02 00:00:00    13
2015-04-02 00:00:00    11
2014-08-31 09:00:00    10
2014-08-26 09:00:00     9
2015-09-11 00:00:00     9
2016-02-15 00:00:00     9
2015-11-23 00:00:00     9
2015-11-08 00:00:00     8
2015-08-03 00:00:00     8
2015-09-01 00:00:00     8
2015-07-26 09:00:00     8
2014-07-16 09:00:00     8
2015-06-19 00:00:00     8
2014-09-06 09:00:00     8
2014-08-17 09:00:00     8
2014-06-21 09:00:00     8
2014-05-03 16:15:00     7
2014-04-26 15:31:00     7
2015-11-05 00:00:00     7
2015-10-19 09:00:00     7
2014-08-16 09:00:00     7
2015-08-02 09:00:00     7
2016-02-07 00:00:00     7
2015-05-31 00:00:00     7
2015-04-20 14:08:00     7
2014-11-05 09:00:00     7
2014-10-20 09:00:00     7
2014-12-27 11:09:00     7
                       ..
2014-09-22 18:17:00     1
2014-12-29 12:48:00     1
2014-09-27 14:24:00     1
2014-08-07 11:47:00     1
2014-01-08 18:45:00     1
2016-01-06 11:49:00     1
2015-04-25 14:52:00     1
2015-10-18 12:15:00     1
2013-10-11 13:17:00     1
2014-07-12 13:36:00     1
2015-12-02 07:57:00     1
2015-05-26 18:06:00     1
2015-07-23 18:42:00     1
2014-04-03 15:28:00     1
2015-11-04 18:26:00     1
2014-09-11 17:27:00     1
2015-07-19 19:17:00     1
2014-09-05 18:13:00     1
2014-07-27 13:08:00     1
2015-07-30 08:54:00     1
2015-07-15 16:11:00     1
2016-02-07 14:04:00     1
2016-01-10 16:42:00     1
2014-06-27 17:09:00     1
2015-10-06 18:06:00     1
2015-12-01 08:08:00     1
2014-02-09 17:30:00     1
2014-01-13 12:40:00     1
2014-01-09 16:57:00     1
2015-09-16 18:26:00     1
Name: DateTime, Length: 22918, dtype: int64
------------------------------------------------------------
good to go!
OutcomeType
------------------------------------------------------------
Number of nulls in OutcomeType is: 0
------------------------------------------------------------
Number of unique items: Adoption           10769
Transfer            9422
Return_to_owner     4786
Euthanasia          1555
Died                 197
Name: OutcomeType, dtype: int64
------------------------------------------------------------
good to go!
OutcomeSubtype
------------------------------------------------------------
Number of nulls in OutcomeSubtype is: 13612
------------------------------------------------------------
Number of unique items: Partner                7816
Foster                 1800
SCRP                   1599
Suffering              1002
Aggressive              320
Offsite                 165
In Kennel               114
Behavior                 86
Rabies Risk              74
Medical                  66
In Foster                52
Enroute                   8
Court/Investigation       6
At Vet                    4
In Surgery                3
Barn                      2
Name: OutcomeSubtype, dtype: int64
------------------------------------------------------------
AnimalType
------------------------------------------------------------
Number of nulls in AnimalType is: 0
------------------------------------------------------------
Number of unique items: Dog    15595
Cat    11134
Name: AnimalType, dtype: int64
------------------------------------------------------------
good to go!
SexuponOutcome
------------------------------------------------------------
Number of nulls in SexuponOutcome is: 1
------------------------------------------------------------
Number of unique items: Neutered Male    9779
Spayed Female    8820
Intact Male      3525
Intact Female    3511
Unknown          1093
Name: SexuponOutcome, dtype: int64
------------------------------------------------------------
AgeuponOutcome
------------------------------------------------------------
Number of nulls in AgeuponOutcome is: 18
------------------------------------------------------------
Number of unique items: 1 year       3969
2 years      3742
2 months     3397
3 years      1823
1 month      1281
3 months     1277
4 years      1071
5 years       992
4 months      888
6 years       670
3 weeks       659
5 months      652
6 months      588
8 years       536
7 years       531
2 weeks       529
10 months     457
10 years      446
8 months      402
4 weeks       334
7 months      288
9 years       288
12 years      234
9 months      224
1 weeks       171
11 months     166
1 week        146
13 years      143
11 years      126
3 days        109
2 days         99
14 years       97
15 years       85
1 day          66
4 days         50
6 days         50
16 years       36
5 days         24
0 years        22
17 years       17
5 weeks        11
18 years       10
19 years        3
20 years        2
Name: AgeuponOutcome, dtype: int64
------------------------------------------------------------
Breed
------------------------------------------------------------
Number of nulls in Breed is: 0
------------------------------------------------------------
Number of unique items: Domestic Shorthair Mix                                 8810
Pit Bull Mix                                           1906
Chihuahua Shorthair Mix                                1766
Labrador Retriever Mix                                 1363
Domestic Medium Hair Mix                                839
German Shepherd Mix                                     575
Domestic Longhair Mix                                   520
Siamese Mix                                             389
Australian Cattle Dog Mix                               367
Dachshund Mix                                           318
Boxer Mix                                               245
Miniature Poodle Mix                                    233
Border Collie Mix                                       229
Australian Shepherd Mix                                 163
Rat Terrier Mix                                         157
Catahoula Mix                                           157
Jack Russell Terrier Mix                                146
Yorkshire Terrier Mix                                   143
Domestic Shorthair                                      143
Chihuahua Longhair Mix                                  142
Siberian Husky Mix                                      138
Miniature Schnauzer Mix                                 136
Beagle Mix                                              124
Rottweiler Mix                                          113
American Bulldog Mix                                    109
Cairn Terrier Mix                                       102
Shih Tzu Mix                                            100
Chihuahua Shorthair/Dachshund                            98
Australian Kelpie Mix                                    95
Staffordshire Mix                                        94
                                                       ...
American Staffordshire Terrier/American Bulldog           1
Border Terrier/West Highland                              1
Queensland Heeler/Pointer                                 1
Pit Bull/Pug                                              1
Chihuahua Shorthair/Schipperke                            1
Dachshund Wirehair/Pbgv                                   1
Italian Greyhound/Beagle                                  1
Catahoula/Rottweiler                                      1
Finnish Spitz/Dachshund                                   1
Cardigan Welsh Corgi/Chihuahua Longhair                   1
Jack Russell Terrier/American Staffordshire Terrier       1
Swedish Vallhund/Miniature Poodle                         1
English Shepherd                                          1
Siberian Husky/Anatol Shepherd                            1
Pointer/Chinese Sharpei                                   1
Collie Rough/Australian Cattle Dog                        1
Catahoula/Australian Shepherd                             1
Black Mouth Cur/Blue Lacy                                 1
Munchkin Longhair Mix                                     1
American Staffordshire Terrier/French Bulldog             1
Chihuahua Shorthair/Cavalier Span                         1
Akita/Chow Chow                                           1
Shih Tzu/Affenpinscher                                    1
Shetland Sheepdog/Brittany                                1
Cardigan Welsh Corgi/Jack Russell Terrier                 1
Shih Tzu/Pekingese                                        1
Papillon/Chihuahua Shorthair                              1
English Bulldog/Cairn Terrier                             1
Golden Retriever/Brittany                                 1
Bichon Frise/Miniature Poodle                             1
Name: Breed, Length: 1380, dtype: int64
------------------------------------------------------------
good to go!
Color
------------------------------------------------------------
Number of nulls in Color is: 0
------------------------------------------------------------
Number of unique items: Black/White                    2824
Black                          2292
Brown Tabby                    1635
Brown Tabby/White               940
White                           931
Brown/White                     884
Orange Tabby                    841
Tan/White                       773
Tricolor                        752
Blue/White                      702
Black/Tan                       672
White/Black                     643
Brown                           639
Tan                             628
White/Brown                     569
Tortie                          530
Calico                          517
Orange Tabby/White              455
Brown Brindle/White             450
Blue                            450
Black/Brown                     436
Blue Tabby                      433
White/Tan                       389
Red                             337
Torbie                          335
Brown/Black                     333
Red/White                       331
Blue Tabby/White                241
Brown Brindle                   232
Chocolate/White                 224
                               ...
Brown/Brown Merle                 1
Brown Brindle/Blue Tick           1
Brown Tabby/Brown                 1
Red Tick/Brown                    1
Tan/Apricot                       1
Red/Silver                        1
Gold/Buff                         1
Calico/Orange Tabby               1
Blue/Orange                       1
Blue Cream/Blue Tabby             1
Blue Tick/Red                     1
Pink                              1
Blue Cream/Buff                   1
Brown Brindle/Brown Merle         1
Black Brindle/Brown Brindle       1
Torbie/Brown                      1
White/Calico                      1
Silver/Red                        1
Chocolate/Brown Merle             1
Cream/Red                         1
Agouti/Brown Tabby                1
Blue Cream/Tortie                 1
Orange/Tan                        1
Gray Tabby/Black                  1
Blue/Brown                        1
Gold/Tan                          1
Lynx Point/Gray Tabby             1
Tortie/Brown                      1
Chocolate/Red Tick                1
Brown/Silver                      1
Name: Color, Length: 366, dtype: int64
------------------------------------------------------------
good to go!

In [9]:
null_pd

      0               1               2               3
0  Name  OutcomeSubtype  SexuponOutcome  AgeuponOutcome
0  7691           13612               1              18

In [82]:
df.replace(r'^\s*$', np.nan, regex = True, inplace = True)

In [ ]:
(df.DateTime.value_counts(sort = False)).plot()